@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green: hsl(158, 36%, 37%);
  --dark-green: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--white);
  border-radius: 15px;
  margin: 1rem;
}

.mobile-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.desktop-image {
  display: none;
}

.top-section,
.bottom-section {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

h1 {
  font-family: "Fraunces", serif;
  color: var(--black);
  line-height: 1;
  font-size: 2rem;
}

.cost {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--green);
}

.old-price {
  text-decoration: line-through;
}

button {
  background-color: var(--green);
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  gap: 1rem;
  color: var(--white);
  font-size: 14px;
}

/* Tablet */
@media (min-width: 584px) {
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: flex;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 17rem;
  }

  main {
    display: flex;
    align-items: center;
    border-radius: 1rem;
  }

  .product-body {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  .bottom-section {
    margin-top: 0;
  }

  .top-section {
    margin-bottom: 1rem;
  }
}
